.barrita{
    background-color: #ffbd59;
    height: 90px;
    color: black;
    width: 100%;
}

.logo{
    margin-top: 10px;
    margin-left: 30px;
}

.elements{
    margin-top: 20px;
    color: black;
    font-size: 15px;
    margin-left: 40px;
}
.nav-item{
    margin-top: -80px;
}

.elements__1{
    margin-left:  700px ;
    
}
.card-A{
    border-color: white;
    color: black;
     border-radius: 0px;
     text-align: center;
     margin: auto;
     font-family: Arial;
 }
 .card__group_A{
    text-align: center;
    margin: auto;  
    display: flex;
    margin-top: 50px;
}
.card__title_A{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
    font-weight: bold;
    color:#000000;
    margin-top: 50PX;
}
.Parrafo5{
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%
}
.parrafoA{
    font-size: 20px;
}
.cardA{
    border-color: white;
    color: black;
     border-radius: 0px;
     text-align: center;
     margin: auto;
     font-family: Arial;
 }
 .card-groupA{
    text-align: center;
    margin: auto;
    display: flex;  
}
.card--titleA{
    font-family: Arial;
    font-weight: bold;
    color:#000000;
}
.card_3{
    border-color: white;
    color: black;
     border-radius: 0px;
     text-align: center;
     margin: auto;
     font-family: Arial;
     justify-content: center;
 }
 .card-group_flecha4{
     
    background-color: coral;
    text-align: center;
    margin: auto;  
    display: flex;
    margin-top: 300px;
}
.boton_flechas3{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    display: flex;
    
    
}
.btn_4{

    text-align: center;
    margin: auto;
    display: flex;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 5px;
    
    
}