.barrita{
    background-color: #ffbd59;
    height: 90px;
    color: black;
    width: 100%;
}

.logo{
    margin-top: 10px;
    margin-left: 30px;
}

.elements{
    margin-top: 20px;
    color: black;
    font-size: 15px;
    margin-left: 40px;
}
.nav-item{
    margin-top: -80px;
}

.elements__1{
    margin-left:  700px ;
    
}
.Contralor_C{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
    margin-top: 5%;
}
.Parrafo_C2{
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.Parrafo_C3{
    text-align: center;
    margin: auto;
    font-size: 20;
    margin-top: 2%;
}
.btn_3{
    text-align: center;
    margin: auto;
    display: flex;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-top: 18px;
    border-radius: 5px;
}

.boton_flechas2{
    margin-top: 5%;
}


.ContenedorParrafo{
    text-align: center;
    margin: auto;
    width: 60%;
}

.img-Personero{
    width: 100%;
}

.ConteParrafoxCon{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.ConteParrafox_1Con{
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.ConteParrafox1Con{
    text-align: center;
    margin: auto;
    background-color: #FFDF5C;
    padding: 4%;
}

.ConteParrafox2Con{
    text-align: center;
    margin: auto;
    margin-top: 5%;
    background-color:#FFDF5C;
    padding: 3%;
}

.ConteParrafo_DesContralor{
    width: 67%;
    text-align: center;
    margin: auto;
    margin-top: 7%;
}

.Parrafo_DesContralor{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    color: dodgerblue;
}
.footer{
    background-color: #D6D6D6;
    text-align: center;
    padding: 3%;
}

.footer_parrafo{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
}

.footer_image{
    width: 3%;
    height: 3%;
}