.image_voto{
    width: 100%;
    height: 80%;
}

.Titulo1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
}

.Titulo1__1{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 90px;
}

.Titulo1__2{
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

.vacio{
    background-color: #F1D049;
    color: #F1D049;
    margin-top: 7%;
}

.Titulo__razones{
    margin-top: 85px;
    font-size: 45px;
    font-family: cursive;
    text-align: center;
}

/*Diseño Razones*/

.lista{
    text-decoration: none;
}

.lista__items{
    text-align: center;
    text-decoration: none;
    margin-top: 4%;
}

.lista__contenedor{
    width: 80%;
    text-align: center;
    margin: auto;
}

.lista__titulo1{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
}

.lista__titulo2{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-weight: 1500px;
    background-color: #87BBEB;
    width: 65%;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    padding: 22px;
}

.lista__parrafo{
    margin: auto;
    margin-top: 3%;
    text-align: center;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

.VideoRazones{
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

.tituloImportancia{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
    margin-top: 5%;
}