.barrita{
    background-color: #ffbd59;
    height: 90px;
    color: black;
    width: 100%;
}

.logo{
    margin-top: 10px;
    margin-left: 30px;
}

.elements{
    margin-top: 20px;
    color: black;
    font-size: 15px;
    margin-left: 40px;
}
.nav-item{
    margin-top: -80px;
}

.elements__1{
    margin-left:  700px ;
    
}
.Personero_C{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1500px;
    text-align: center;
    margin-top: 5%;
}
.Parrafo_C{
    text-align: center;
    margin: auto;
    font-size: 20;
}
.Parrafo_C1{
    text-align: center;
    margin: auto;
    font-size: 20;
    margin-top: 2%;
}
.btn_3{
    text-align: center;
    margin: auto;
    display: flex;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-top: -180px;
    border-radius: 5px;
    
    
}